---
import Layout from "../layouts/Layout.astro";
import Position from "../components/Position.astro";
import SectionHeading from "../components/SectionHeading.astro";
import List from "../components/List.astro";
import LinkedIn from "../icons/LinkedIn.astro";
import GitHub from "../icons/GitHub.astro";
---

<Layout title="Ben Daly | Engineering Manager | Full-stack Developer">
  <main
    class="m-4 lg:w-[210mm] w-100 rounded-md lg:py-8 lg:pl-8 lg:pr-16 py-4 pl-4 pr-8"
  >
    <h1 class="lg:text-6xl text-4xl font-extrabold tracking-wider">Ben Daly</h1>
    <h2 class="lg:text-2xl text-lg font-bold lg:mt-4 mt-2 tracking-wide">
      Engineering Manager | Full-stack Developer
    </h2>

    <section id="work-experience" class="mt-8">
      <SectionHeading>Work</SectionHeading>
      <Position
        headingClassName="mt-2"
        company="ArchiPro"
        titles={[
          {
            title: "Engineering Manager",
            tenure: "Oct 2023 - Present",
          },
          {
            title: "Full-stack Developer",
            tenure: "Oct 2022 - Oct 2023",
          },
        ]}
        description={`I am currently the Engineering Manager of ArchiPro's B2B Engineering Team, consisting of myself and four engineers. Collaborating with the Head of Product B2B directly, providing technical advice and knowledge on existing/upcoming features.

I joined ArchiPro as a Full-stack Developer with a primary focus on Ecommerce integrations.`}
        responsibilities={[
          "Managing and providing guidance to a team of four engineers",
          "Technical evaluation and estimation of upcoming product features",
          "Providing technical insight to our product team",
          "Developing and maintaining integrations with Ecommerce platforms",
          "Developing and maintaining our internal Advertising tech stack",
          "Mentored team members",
          "Contributed to product discussions from both a wider business value and technical perspective",
          "Stand-in team lead for leave cover",
        ]}
        projects={[
          "Created and maintained several Ecommerce product and order integrations (WooCommerce, Shopify, Magento, Squarespace) as well as integrations with Airtable and HubSpot.",
          "Contributed to technical design and architecture of our integration stack",
          "Contributed to the wider product, building interfaces, fixing issues no matter the area",
          "Worked alongside ArchiPro's Head of Operations to improve our whole advertising Airtable solution",
        ]}
      />
      <Position
        company="Theta"
        titles={[
          {
            title: "Senior Consultant",
            tenure: "Apr 2022 - Oct 2022",
          },
          {
            title: "Consultant",
            tenure: "Apr 2019 - Apr 2022",
          },
          {
            title: "Graduate",
            tenure: "Jan 2019 - Apr 2019",
          },
        ]}
        description={`I worked as a Senior Consultant in the Product Group, where I developed custom integrations, led mobile app development, and contributed to infrastructure code among other tasks.`}
        responsibilities={[
          "Consulted with customers across multiple products to build custom integrations & bespoke features",
          "Worked directly with product owners to assess requirements & design features",
          "Contributed to technical design, architecture & implementation across multiple products/ technologies",
          "Performed code review across all team products",
          "Automated and managed deployments/releases for products within team portfolio",
          "Developed integrations for our products/services utilised by our customers and internally",
          "Built and contributed to key infrastructure code: front-end & back-end",
          "Technical mentor to colleagues",
          "Collaborated with colleagues across technical design and development of product features",
          "Managed and mentored interns to provide guidance towards the completion of their projects",
        ]}
        projects={[
          "Main developer of FAQ Bot (https://faqbot.ai) notable features include: self-service sign up flow, live chat, flexible engagements, bot style customisation,  FAQ Pages (statically generated) ",
          "Key developer for EVA Check-in (https://evacheckin.com) notable features include:  bookings, custom check-in flows, rewriting legacy  application code, URL shortener, mobile apps, UI/UX overhauls ",
          "Led integration with Stripe billing across multiple  products in the Theta portfolio ",
          "Led adoption of using TypeScript in EVA Check-in ",
          "Led development of modernising the user interfaces  of EVA Check-in customer facing product offerings ",
          "Led integration with Procore, a global, all-in-one  construction management software within EVA Check-in to attract customers for Theta from the  construction industry ",
          "Developed a generic webhook system for our  in-house application framework",
        ]}
      />

      <Position
        company="Hansen Technologies"
        titles={[
          {
            title: "Software Engineer Intern",
            tenure: "Mar 2018 - Sep 2018",
          },
        ]}
        description={`I was the lead developer for an interactive data visualisation project, managing the project end-to-end.`}
        responsibilities={[
          "Managed the project end-to-end from inception to completion",
          "Managed relationship with senior leadership, providing updates on progress of work & scheduled meetings",
          "Created an interactive data visualisation within existing software using Java and JavaScript which saw immediate impact & use once deployed & sparked global interest within the company ",
        ]}
      />
      <section id="skills" class="mt-8">
        <SectionHeading>Skills</SectionHeading>
        <List
          items={[
            "Charismatic and level-headed",
            "Experienced in problem-solving",
            "Creative and out-of-the-box thinker",
            "Excellent communication skills",
            "Team player with a positive team-first attitude",
          ]}
        />
      </section>

      <section id="languages-and-technologies" class="mt-8">
        <SectionHeading>Languages & Technologies</SectionHeading>
        <p class="text-sm mt-2">
          C#/.NET, JavaScript, TypeScript, React, Remix, SQL (SQL Server,
          MySQL), PHP, GraphQL, Flutter/Dart (iOS & Android), AWS, Azure, CI/CD
          (GitHub Actions, Azure DevOps, Bitbucket Pipelines), PowerShell, Git,
          Redis
        </p>
      </section>

      <section id="education" class="mt-8">
        <SectionHeading>Education</SectionHeading>
        <p>
          University of Auckland<br />
          Bachelor of Science - Computer Science<br />
          2014 - 2017
        </p>
      </section>

      <section id="references" class="mt-8">
        <SectionHeading>References</SectionHeading>
        <ul>
          <li>
            Marcel Saville - ArchiPro | <a
              href="https://www.linkedin.com/in/marcelsaville"
              class="underline underline-offset-2">LinkedIn</a
            >
          </li>
          <li>
            Jim Taylor - Theta | <a
              href="https://www.linkedin.com/in/jim-taylor-nz/"
              class="underline underline-offset-2">LinkedIn</a
            >
          </li>
        </ul>
      </section>
      <section id="contact" class="mt-8">
        <SectionHeading>Contact</SectionHeading>
        <address class="not-italic">
          A: G06/1A Oakley Avenue, Waterview, Auckland, 1026<br />
          M: <a href="tel:+642102272749" class="underline underline-offset-2"
            >+642102272749
          </a><br />
          E: <a
            href="mailto:bendaly0403@gmail.com"
            class="underline underline-offset-2">bendaly0403@gmail.com</a
          >
        </address>
      </section>
      <section id="socials" class="flex gap-2 mt-2">
        <a href="https://github.com/bendaly818" class="w-6 h-6" target="_blank">
          <GitHub />
        </a>
        <a
          href="https://www.linkedin.com/in/bendalynz"
          class="w-6 h-6"
          target="_blank"
        >
          <LinkedIn />
        </a>
      </section>
    </section>
  </main>
  <div
    class="fixed -rotate-90 -right-8 md:right-0 md:bottom-28 bottom-24 translate-y-1/2 select-none tracking-wide"
  >
    Curriculum Vitae
  </div>
</Layout>
